<div mat-ripple matRippleColor="white">
<div class="content-{{content.id}}">
  <div class="title" appHoverStyle="underline">Title: {{content.title}}</div>
  <img class="main-image" src="{{content.imageUrl}}" *ngIf="content.imageUrl; else noImage" (click)="myFunction()">
  <ng-template #noImage>
    <img class="main-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/LetterX.svg/1200px-LetterX.svg.png" (click)="myFunction()">
  </ng-template>
  <a [routerLink]="['/content',content.id]"routerLinkActive="active">Content Detail</a><br>
</div>
</div>
